@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      #F4F9FF
    )
    #E0EDFB;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.input-base {
  @apply w-full p-2.5 pl-5 text-base text-gray-regular rounded-[10px] bg-white border-white placeholder:text-gray-light focus:border-gray-light focus:ring-0;
}

.input-success {
  @apply border-green text-green;
}

.input-error {
  @apply border-red text-red;
}

.button-base {
  @apply bg-gradient-to-r from-[#70C3FF] to-[#4B65FF] rounded-[30px] text-base font-bold text-white px-[32px] py-[16px] w-4/6;
}
